<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<div class="lazy-form">
  <div class="form-inputs">
    <%= f.email_field :email,
                required: true,
                autofocus: true,
                label: "",
                placeholder: "Enter your account email",
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
</div>
<% end %>
