<div class="jbh-standard-title">Edit Comment</div>
<%= render 'form', comment: @comment %>
<div class="cancel-edit-container">
  <a href="/posts/<%=@post.id%>">
    <div class="cancel-edit-btn">Cancel</div>
  </a>
</div>