<div class="conversation">
  <a href="/conversations/<%= conversation.id %>">
    <div class="conversation-username">
      <%= conversation.with(current_user).username %>
    </div>
    <div class="conversation-last-msg">
      <em class="last-msg-header">Last message:</em><br>
      <%= conversation.personal_messages.last.body.truncate(50) %>
    </div>
  </a>
</div>