

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="lazy-form">
    <div class="form-inputs">
      <%= f.email_field :email,
                  required: true,
                  placeholder: "Enter account email",
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  </div>
<% end %>
