<div class="aboutus-community-guidelines">
  <h2 class="guidelines-title">Community Guidelines</h2>
  <div class="guidelines">
    <div class="guideline">
      <b>First:</b> Be excellent to each other.
    </div>
    <div class="guideline">
      <b>Second:</b> See rule #1.
    </div>
    <div class="guideline">
      <b>Third:</b> Using the platform for the purposes of direct or indirect financial gain is not allowed. (See Rule #2)
    </div>
  </div>
</div>
<div class="aboutus">
  <div class="aboutus-item">
    <h3>What do you do with my personal information?</h3>
    <p>
      It's very simple: nothing. Just Be Human is completely ad-free. Those of you with ad blockers may have noticed already. We will never use your information for any purpose other than for the sole purpose of operating and improving the platform. 
      <p class="side-note">
        <small>Side note- if you don't use an ad blocker, you should! We have a recommendation: <a href="https://www.eff.org/privacybadger">Privacy Badger</a>, created by the Electronic Frontier Foundation.</small>
      </p>
    </p>
  </div>
  <div class="aboutus-item">
    <h3>What do we hope to achieve?</h3>
    <p>
      Just Being Human hopes to bring community activism into the 21st century. In doing so, we want to remind people that humans are overwhelmingly hard-working, caring, and kind. The internet has brought the planet together, but pushed communities apart. We want to start bringing people back together again where it counts- the real world.
    </p>
  </div>
  <div class="aboutus-item">
    <h3>Why a nonprofit?</h3>
    <p>
      Just Be Human is a public service. To that end, Just Be Human will always be free - <em>truly free</em> - for individuals. We believe that companies should be transparent and aim to hold ourselves as an example. We will be publishing all operating costs in as close to real time as we can.
    </p>
  </div>
</div>