
<div class="calendar-background">
  <% if @geopoint %>
    <div id="calendar">
      <%= week_calendar start_date_param: :offset_start do |date| %>
        <%= date %>
      <% end %>
    </div>
    <%= @opportunities %>
  <% else %>
    <div class="location-select-div">
      <div class="location-select-outline">
        <div class="location-select-title">
          Welcome to Detrashers.org!
        </div>
        <form class="form-inline my-2 my-lg-0" accept-charset="UTF-8" action="/" method="get">
          <input class="form-control location-select-field" type="search" id="postcode" placeholder="Enter postal code here" aria-label="Change Location" name="postcode">
          <br>
          <button class="location-select-btn" type="submit" href="/" value="postcode">Get Started</button>
        </form>
      </div>
    </div>
  <% end %>
</div>
