

<div class="donation-signup-info">
  <div class="donation-info-container">
    <div class="donation-info-title">
      <h3>Some notes:</h3>
    </div>

    <ul>
      <li>
        <div class="donation-note-listitem">
          <p>
            If you are interested in donating, we will contact you no more than once per month asking for donations once we set up the capability to accept donations online.
          </p>
        </div>
      </li>
      <li>
        <div class="donation-note-listitem">
          <p>
            If you'd like to help get the word out, you will be entered into an email list of people who are willing to go out into their community and tell people about the new way to volunteer in their community! We will not contact you more than once per week.
          </p>
        </div>
      </li>
      <li>
        <div class="donation-note-listitem">
          <p>
            Each of these email lists will allow you to subscribe/unsubscribe individually. We don't want to annoy you! 
          </p>
        </div>
      </li>
    </ul>
  </div>

<%= render 'donationform', donation: @donation %>

<div class="signup-disclaimer">
  <p>
    <i>Just Be Human will <Strong>never</Strong> sell your information or use it for any purpose other than to contact you about the work we're doing.</i>
  </p>
</div>