
<div class="calendar-background">
  <div class="location-select-div">
    <div class="location-select-outline">
      <div class="location-select-title">
        Enter your postcode to begin
      </div>
      <form class="form-inline my-2 my-lg-0" accept-charset="UTF-8" action="/map" method="get">
        <input class="form-control location-select-field" type="search" id="postcode" aria-label="Change Location" name="location_term">
        <br>
        <button class="location-select-btn" type="submit" href="/map" value="location_term">Show me the map!</button>
      </form>
    </div>
  </div>

  <div class="calendar-row-2">
    <div class="calendar-aboutus" id="calendar-aboutus">
      <div class="aboutus-left">
        <div class="aboutus-div-title">
          About us
        </div>
        <div class="aboutus-content">
          Detrashers.org is a donation-funded, advertising-free platform built around making it easy to keep your community clean.
        </div>
      </div>

      <div class="aboutus-center">
        <div class="aboutus-div-title">
          How to help
        </div>
        <div class="aboutus-content">
          There are many ways you can help: organizing, participating, donating, and spreading the word!
          <div class="help-out-links">
            <a class="help-out-link" href="https://instagram.com/detrashers">Follow Us</a>
            <a class="help-out-link" href="mailto:matthew@justbehuman.io">Contact Us</a>
          </div>
        </div>
      </div>


      <div class="aboutus-right">
        <div class="aboutus-div-title">
          Our Impact
        </div>
        <div class="aboutus-content">
          Every pound of trash collected by detrashers and properly disposed of means one less pound of trash in our streets, waterways, and oceans!
        </div>
      </div>

      <div class="aboutus-mobile">
        <div class="aboutus-content">
          Enter your postal code to see the Detrashing Zones in your neighborhood!
          <br>
          -
          <br>
          Detrashers.org is a donation-funded platform built around making it easy to keep your neighborhood clean. Every pound of trash picked up by detrashers is one less pound in our streets, waterways, and oceans!
          <br>
          -
          <br>
            There are many ways you can help: organizing, participating, donating, and spreading the word!
          <div class="help-out-links">
            <a class="help-out-link" href="/donate">Donation Info</a>
            <a class="help-out-link" href="https://instagram.com/detrashers">Follow Us</a>
            <a class="help-out-link" href="mailto:help@detrashers.org">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar-page-bottom-buffer"></div>
  </div>
</div>
