<div class="landing-page-container">
  <%= image_tag("beta-logo.png", class: "landing-logo") %>
  <div class="landing-explanation">
    Today more than ever, we need to come together to take care of those who cannot take care of themselves. Just Be Human is a platform designed to enable that cooperation.
    <br>
    <br>
    If you or someone you know needs assistance, you can create a new Opportunity and connect with people in your community to get help.
    <br>
    <br>
    If you're willing and able to help, you can sort available Opportunities and find one (or more!) that best suit your schedule and abilities.
  </div>
  <div class="landing-page-actions">
    <a href="/select" class="select-oppo-type-div landing-page-action-btn">
      <div class="select-oppo-type-btn">
        Find Opportunities Near Me
      </div>
    </a>
    <a href="/opportunities/new" class="create-new-oppo-div landing-page-action-btn">
      <div class="create-new-oppo-btn">
        Create a new Opportunity
      </div>
    </a>
  </div>
  <div class="landing-padding-middle"></div>
  <div class="landing-page-bottom"></div>
</div>
