<div class="home-page">
  <div id="map" class="map-div"></div>
  <div id="submit-zone-btn">Submit Zone</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvo5jgtwJAlgCwAA9_5v_pUgphXxe9ntY&libraries=geometry" async defer></script>


