<div class="select-categories-page">
  <div class="select-categories-btns">
    <div class="category-btn-group">
      <a href="/map" class="all-category-btn">
        <div class="category-btn-name">
          All
        </div>
        <div class="category-btn-text">
          Show me all available opportunities.
        </div>
      </a>
    </div>
    <div class="category-btn-group">
      <a href="/map?category=0" class="outreach-category-btn">
        <div class="category-btn-name">
          Outreach
        </div>
        <div class="category-btn-text">
          I want to help find people who need assistance.
        </div>
      </a>
    </div>
    <div class="category-btn-group">
      <a href="/map?category=4" class="caregiving-category-btn">
        <div class="category-btn-name">
          Caregiving
        </div>
        <div class="category-btn-text">
          I want to help provide care to someone in need.
        </div>
      </a>
    </div>
    <div class="category-btn-group">
      <a href="/map?category=1" class="cleanup-category-btn">
        <div class="category-btn-name">
          Cleanup
        </div>
        <div class="category-btn-text">
          I want to help clean up my community.
        </div>
      </a>
    </div>
    <div class="category-btn-group">
      <a href="/map?category=2" class="fundraising-category-btn">
        <div class="category-btn-name">
          Fundraising
        </div>
        <div class="category-btn-text">
          I want to help raise funds for a cause.
        </div>
      </a>
    </div>
    <div class="category-btn-group">
      <a href="/map?category=3" class="goods-category-btn">
        <div class="category-btn-name">
          Goods
        </div>
        <div class="category-btn-text">
          I want to help collect goods (PPE, Food, etc).
        </div>
      </a>
    </div>
  </div>
</div>
