<div class="jbh-standard-title">Editing Post</div>
<%= render 'form', post: @post %>
<div class="post-edit-return">
  <a href="/posts/<%= @post.id %>" class="post-edit-return-btn">return to parent</a>
</div>