<%= bootstrap_form_for(@opportunity) do |f| %>
  <div class="new-oppo-buffer"></div>
  <%= f.text_field :title, placeholder: 'Name your zone', hide_label: true %>
  <%= f.hidden_field :coordinates, :value => coords %>
  <div class="create-cleanup-btn-wrapper">
    <%= f.submit "Let's clean up some trash!", class: "create-cleanup-btn" %>
  </div>
<% end %>
