<div class="rsvp-noauth-form">
  <div class="rsvp-noauth-form-title">
    You are not currently signed in- log in or easily create an account right now!
  </div>
  <form action="/opportunities/noauth_rsvp" method="post">
    <div class="">
    </div>
    <input type="submit" name="commit" value="RSVP" data-disable-with="RSVP" class="unauth-rsvp-submit-btn">
  </form>
</div>
