<div class="oppo-waiver-wrapper">
  <a href="/waivers/sign?id=<%= waiver.id %>" class="sign-waiver-link">
    <iframe src="<%= url_for waiver %>" width="100%" height="auto" style="border: none;">
    </iframe>
  </a>
</div>
