@import "/*";
@import "bootstrap";
@import "tether";

//*= require introjs



html, body {
  height: 100%;
  margin: 0;
/* Trivial style make the text large */
  font-size: 48px; 
}
.wrapper {
  min-height: 100%;
  
  /* This is the same as the height of the footer */
  margin-bottom: -100px; 
}
/* The height of the footer and push must be the same */
.footer,
.push {
  height: 100px;
}