@import "/*";
@import "bootstrap";
@import "tether";

//*= require introjs

html, body {
  height: 100vh;
  margin: 0;
}

.main {
  padding: 4vh 2vw;
}

.wrapper {
  min-height: 75vh;
}

.navbar {
  height: 10vh;
  font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.navbar-brand {
  font-size: 2.2em;
}

#map {
  height: 100%;
  width: 100%;
  margin: auto;
}

.navbar-beta-tag {
  vertical-align: text-top;
  font-size: .3rem;
  line-height: 200%;
}


.landing-beta-tag {
  font-size: .3em;
  vertical-align: text-top;
  line-height: 350%;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
}
