.navbar {
  min-height: 10vh;
  font-family: 'Rubik', Verdana, Arial, Sans-Serif;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 2.2em;
}

.navbar-beta-tag {
  vertical-align: text-top;
  font-size: .3rem;
  line-height: 200%;
}
