@import "mixins.scss";

.navbar {
  min-height: 10vh;
  font-family: 'Fjalla One', Verdana, Arial, Sans-Serif;
  
  background-color: #3399CC;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.navbar li {
  list-style-type: none;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
}

.navbar-brand {
  font-size: 2.2em;
  margin-right: auto;
}

.navbar-logo {
  width: auto;
  height: 8vh;
  max-width: 50vh;
}

.nav-item {
  border: 1px solid $limegreen;
  border-radius: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-link {

  color: $limegreen !important;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.bg-dark {
  background-color: #003366 !important;
}

.navbar-beta-tag {
  vertical-align: text-top;
  font-size: .3rem;
  line-height: 200%;
}

.mobile-nav {
  display: none;

  @include respond-to(medium-screens) {
    display: block;
  }

  @include respond-to(handhelds) {
    display: block;
  }

}

.desktop-nav {
  display: flex;
  flex-basis: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;

  @include respond-to(medium-screens) {
    display: none;
  }

  @include respond-to(handhelds) {
    display: none;
  }
}
