// Place all the styles related to the Opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';
@import 'grid.scss';


.opportunity-show-page {
  @include respond-to(handhelds) {

    .opportunity-tab-links {
      padding-top: 0px;
      border-bottom: 1px solid $lightgrey;
    }
    .tab button.hp {
      margin-left: 0vw;
      border-radius: 0px;

    }
  }
}

.opportunity-title {
  text-transform: none;
  font-weight: 700;
}

.my-opportunities {
  display: flex;
  flex-wrap: wrap;
}

.opportunity {
  margin: 0 2vw 0 0;
  max-width: 28vw;
}

.opportunity-link {
  color: #fff;

  &:hover {
    color: #ddd;
  }
}



.tablinks {
  width: 100% !important;

}

.opportunity-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 20vh;
  padding: 2vh 2vh;
  margin-bottom: 2vh;
}

.opportunity-info-summary h1 {
  margin-right: 20px;
}

.opportunity-info-summary {
  display: flex;
  align-items: center;
}

.opportunity-tab-links {
  //grid-column: 2;
  height: 100%;
  overflow-y: scroll;
  color: #fff;
  border-top: 1px solid $lightgrey;
  padding-top: 1vh;
  & h3 {
    margin: 0;
  }

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
  }
}

.requirement-row {
  margin-bottom: 2px;
  padding: 2vh;
  border: 1px solid $lightgrey;
  border-radius: 10px;
  transition: all .2s linear;

  & a {
    color: #000;
    text-decoration: none;
    text-transform: none !important;
  }

  & p {
    @include respond-to(handhelds) {
      margin-bottom: 0px;
    }

  }

  &:hover {
    // background-color: $lightgrey;
    border: 1px solid black;
    transform: scale(.98);
    & a {
      color: #000;
      text-decoration: none;
    }
  }
}


.requirement-row-complete {
	border: 2px solid $darkgrey;
	background-color: $limegreen-low;

	.requirement-row-title {
		font-weight: 700;

	}
}


.requirement-row-overdue {
  border: 2px solid $darkgrey;
  background-color: $lightpink-low;
}

.requirement-row-title {
	font-size: 2.3rem;
  padding-left: 1vw;
  display: grid;
  grid-template-columns: 70% 30%;


  @include respond-to(handhelds) {
    font-size: 1.8rem;
    grid-template-columns: 100%;
  }
}

.req-row-title-span {
  grid-column: 1;
  grid-row: 1;

  @include respond-to(handhelds) {
    text-align: center;
  }
}

.req-row-status-span {
  grid-column: 2;
  text-transform: uppercase;
  padding-left: 2px;
  font-size: 1.8rem;

  @include respond-to(handhelds) {
    border-left: 0;
    text-align: right;
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1;
    text-align: left;
  }
}

.requirement-row-excerpt {
	font-size: 1.5em;
	@include respond-to(handhelds) {
		text-align: center;
    font-size: 1.2em;
	}
}

.req-row-info {
	font-size: 1.3em;

  @include respond-to(handhelds) {
    text-align: center;
    font-size: 1.1em;
  }
}
// .add-tabitem-button {
//   padding-top: 3vh;
//   text-align: center;
//   width: 100% !important;
// }

.add-tabitem-button {
  text-align: center;
  margin-top: 2vh;
}


.add-tabitem-btn {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  height: 2.2em;
  font-size: 2.2em !important;
  font-weight: 650 !important;
  text-transform: uppercase;

  @include respond-to(handhelds) {
    font-size: 1.7em !important;
  }
}

.tab-heading {
  margin: 0 1vw 0 0;
  text-align: center;
}



.opportunity-container {
  .jbh-grid-container {
    grid-template-columns: 65% 35%;

    @include respond-to(handhelds) {
      grid-template-columns: 100%;

      .jbh-grid-first {
        margin-right: 0vw;
      }
      // .jbh-grid-second {
      //   display: none;
      // }

      // .mobile-
    }

    .jbh-grid-second {
      margin-left: 0vw;
    }
  }
}



.opportunity-info {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  height: auto;
}

.opportunity-info-left {
  grid-column: 1;
  border-right: 1px solid $lightgrey;
  text-align: center;
  margin-bottom: 2vh;
}

.opportunity-info-right {
  //padding-bottom: 2vh;
  grid-column: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .follow-btn {
    font-size: 2.1rem;
    font-weight: 650;
    border-top: 1px solid $lightgrey;
    background-color: $limegreen-low;

    @include respond-to(handhelds) {
      font-size: 1.8rem;
    }
  }
}

.opportunity-info-volunteers-count {
  font-size: 3.5rem !important;
  font-weight: 650;
}

.opportunity-info-container {

  .dropdown {

    .dropdown-item {
      font-size: 1.9rem;
      color: $midgrey;

      @include respond-to(handhelds) {
        font-size: 1.4rem;
      }
    }

    .dropdown-menu {
      width: 100%;
      text-align: center;
    }
  }

  .dropdown-toggle {
    font-size: 2.3rem;
    color: $darkgrey;
    border-top: 1px solid $lightgrey;
    width: 100%;
    background-color: $limegreen-low;

    @include respond-to(handhelds) {
      font-size: 1.8rem;
    }
  }
}

.opportunity-info-row {
  font-size: 1.2em;
  color: $midgrey;
  @include respond-to(handhelds) {
    font-size: .95em;
  }

  .opportunity-info-row-data {
    font-size: 1.7em;
    color: black;
    @include respond-to(handhelds) {
      font-size: 1.5em;
    }
  }
}

.opportunity-description {
  text-align: center;
  font-size: 1.3em;
  padding-top: 3vh;
  border-top: 1px solid $lightgrey;

  @include respond-to(handhelds) {
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 2vh;
  }
}
// .opportunity-info-row {
//   display: flex;
//   border-radius: 1rem;

//   @include respond-to(handhelds) {
//     flex-direction: column;
//   }
// }

// .opportunity-requirements-tab {
//   .jbh-grid-container {
//     grid-template-columns: 50% 50% !important;
//   }
// }

.jbh-grid-second {
  text-align: center;
}

.opportunity-mapimage-container {
  text-align: center;
  width: auto;
  max-width: 100%;
}

.opportunity-mapimage {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  @include respond-to(handhelds) {
    border: 2px solid $midgrey;
  }
}

.opportunity-address-below-map {
  padding-top: 1vh;
  font-size: 1.5rem;
  margin-left: 2vw;
  margin-right: 2vw;
}

.opportunity-buttons-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.options-btn-group {
  height: auto;
  text-transform: uppercase;
  .options-btn-group-btn {
    height: auto;
    font-size: 1.4em;
    border: 1px solid black;

  }
}

.opportunity-buttons-label {
  font-size: 2em;
  color: black;
  margin-bottom: 1vh;
  text-transform: uppercase;
  width: auto;
  border-bottom: 1px solid $lightgrey;

  @include respond-to(handhelds) {
    margin-top: 4vh;
  }
}

.see-followers-btn {
  height: 5vh;
  display: flex;
  vertical-align: middle;
}



.followers-show-page {
  height: 100% !important;

  .followers-body {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }

  .followers-container {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2rem;

    @include respond-to(handhelds) {
      font-size: 1.2rem;
    }
  }

  .follower-container {
    border-bottom: 1px solid $lightgrey;
  }

  .follower-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .follower-actions {
    text-align: right;
  }

  .follower-options-btn {
    border: 1px solid $lightgrey;
    background-color: none !important;
    text-transform: uppercase;
    color: $darkgrey;
    margin-bottom: 2vh;
  }

  .follower-action-btn {
    border-left: 1px solid $lightgrey;
    padding-left: 1vw;
    padding-right: 1vw;

    @include respond-to(handhelds) {
      font-size: .9rem;
    }
  }

  .follow-return-to-parent {
    text-align: center;
    padding-top: 5vh;
    font-size: 2rem;

    @include respond-to(handhelds) {
      font-size: 1.6rem;
    }
  }
}






// .follower-count {
//   display: flex;
//   align-items: center;
//   font-size: 1.0em;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   height: 8vh;
//   margin-right: 25px;

//   @include respond-to(handhelds){
//     height: 6vh;
//     margin-right: 0;
//   };
// }

// .follower-count-span {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: .8em;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   margin: 0 .4vw;
//   padding: 1vh;
//   background-color: $darkgrey;
//   min-height: 4vh;
//   min-width: 4vh;
//   border-radius: 1rem;
//   color: #fff;

//   @include respond-to(handhelds){
//     margin-left: auto;
//   };
// }

.post-container {
  padding: 2vh;
  border-radius: 10px;
  border-bottom: 1px solid #fff;
  background: white;
  transition: all .2s linear;
  cursor: pointer;
  color: black;
  &:hover {
    background: $lightgrey;
    border: 1px solid $limegreen;
  }

  &:last-of-type {
    border-bottom: none;
  }
  margin-bottom: 1vh;
}

.completion-post {
  background-color: $limegreen-low;
}


.post-author {
  color: black;
  margin: 0;
  font-weight: 1000;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;

  & span {
    color: $darkgrey;
    font-weight: 300;
  }

  @include respond-to(handhelds){
    font-size: .9rem;
  };
}

.post-title {
  color: black;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.8rem;
  margin-left: 2vw;
  @include respond-to(handhelds){
    font-size: 1.4rem;
  };
}

.post-link {
  &:hover {
    text-decoration: none;
  }
}

.post-excerpt {
  color: black;
  letter-spacing: 2px;
  margin: 0;
  font-style: italic;
}






// OPPORTUNITIES FORM


// .opportunity-creation-form {

//   #select {
//     text-align: center;
//   }
// }

#opportunity_volunteers_required {
  width: 20vw;
}

.abstract-options-container {
	display: none;
}

.basic-info-form-container {
  padding-bottom: 2vh;
}

.oppo-form-explanation {
  color: $midgrey;
  font-size: 2rem;
  margin-top: 5vh;


  @include respond-to(handhelds) {
    font-size: 1.5rem;
  }
}

.oppo-back-btn-container {
  text-align: center;
}

.oppo-next-btn-container {
  text-align: center;
}

.oppo-form-direction-btn {
  font-size: 1.8rem;
  font-weight: 600;
  color: $darkgrey;
  border-bottom: 1px solid $lightgrey;
}

.defined-selection-form-container {
  display: none;

  text-align: center;

  .definition-selection-explanation {
    color: $midgrey;
    font-size: 2rem;
    margin-top: 5vh;


    @include respond-to(handhelds) {
      font-size: 1.5rem;
    }
  }

  .select-defined-container {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-color: $limegreen-low;
    border: 1px solid $darkgrey;
  }

  .select-abstract-container {
    margin-bottom: 5vh;

    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-color: $lightpink-low;
    border: 1px solid $darkgrey;
  }

  .select-definition-label {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;



    &:hover {
      transform: scale(1.1);
    }


    @include respond-to(handhelds) {
      font-size: 2rem;
    }
  }

  #defined {
    display: none;
  }
}

.oppo-datetime-selection {
  color: $midgrey;
  font-size: 1.3rem;
  text-align: center;
}

.volunteers-required-input {
  text-align: center;

  #opportunity_volunteers_required {
    width: 30vw !important;
    font-size: 2.1rem !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }
}



.defined-options-form-container {
  display: none;
}

.abstract-options-form-container {
  display: none;

  text-align: center;
}

.location-form-container {
  display: none;
}

.opportunity-form-category-label {
  margin-left: -2vw;
}


.opportunity_planned_by_date {

  @include respond-to(handhelds) {
    .d-flex {
      display: flex;
      flex-wrap: wrap !important;
    }
  }
}


.rsvp-form {
  border: 2px solid $limegreen;
  margin: 5px;
  padding: 3px;
  font-size: 1.2rem;
  @include respond-to(handhelds) {
    padding-top: 2vh;

    #rsvp_additional_vols {
      border: 1px solid $lightgrey;
    }
  }

  .rsvp-form-title {
    font-size: 2rem;
    font-weight: 600;
    color: $limegreen;

    @include respond-to(handhelds) {
      font-size: 1.6rem;
    }
  }

  .rsvp-form-responded {
    border: 2px solid $limegreen !important;
  }

  .rsvp-submit-btn-has-responded {
    background-color: $lightgrey !important;
    color: black !important;
  }

  #rsvp_additional_vols {
    margin-bottom: 2vh;
  }

  .submit-post-btn {
    background-color: $limegreen-low;
    border: 1px solid $midgrey;
    // margin-left: 2vw;
    // margin-right: 2vw;
  }
}

.opportunity_target_completion_date {



  @include respond-to(handhelds) {
    .d-flex {
      display: flex;
      flex-wrap: wrap !important;
    }
  }
}

.opportunity-description {
  white-space: pre-line;
}

.oppo-edit-back-btn {
  text-align: center;
  font-size: 1.4rem;
}

.oppo-datetime-selection {
  #datetime-required {
    display: none;
  }
}


.hidden-defined-input {
  display: none;
}

.difficulty-container {
  padding-bottom: 1vh;
}

.location-container {
  padding-bottom: 2vh;
}

.title-subheader {
  padding-top: 5vh;
}

.title-selection {
  padding-left: 2vw;
}

.difficulty-subheader {
  padding-top: 3vh;
}

.difficulty-selection {
  padding-left: 2vw;
  text-align: center;
  #opportunity_estimated_work {
    font-size: 2.1rem !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }

}

.recurring-selection {
  padding-left: 2vw;
}

.recurring-subheader {
  padding-top: 3vh;
}


.location-subheader {
  padding-top: 3vh;
}


.location-selection {
  padding-left: 2vw;
}


.completion-date-subheader {
  padding-top: 3vh;
}

.completion-date-selection {
  padding-left: 2vw;
}


.submit-opportunity {
  padding-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 15vh;
  margin-bottom: 3vh;
}

.submit-opportunity-btn {
  height: 100%;
}

.btn-block {
  font-size: 3em;
}
