// Place all the styles related to the Opportunities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';
@import 'grid.scss';

.opportunity-title {
  text-transform: none;
  font-weight: 700;
}

.my-opportunities {
  display: flex;
  flex-wrap: wrap;
}

.opportunity {
  margin: 0 2vw 0 0;
  max-width: 28vw;
}

.opportunity-link {
  color: #fff;

  &:hover {
    color: #ddd;
  }
}



.tablinks {
  width: 100% !important;

}

.opportunity-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 20vh;
  padding: 2vh 2vh;
  margin-bottom: 2vh;
}

.opportunity-info-summary h1 {
  margin-right: 20px;
}

.opportunity-info-summary {
  display: flex;
  align-items: center;
}

.opportunity-tab-links {
  //grid-column: 2;
  height: 100%;
  overflow-y: scroll;
  color: #fff;
  border-top: 1px solid $lightgrey;
  padding-top: 1vh;
  & h3 {
    margin: 0;
  }

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
  }
}

.requirement-row {
  margin-bottom: 2px;
  padding: 2vh;
  border: 1px solid $lightgrey;
  border-radius: 10px;
  transition: all .2s linear;

  & a {
    color: #000;
    text-decoration: none;
  }

  &:hover {
    // background-color: $lightgrey;
    border: 1px solid black;
    transform: scale(.98);
    & a {
      color: #000;
      text-decoration: none;
    }
  }
}

.requirement-row-complete {
	border: 2px solid $darkgrey;
	background-color: $limegreen-low;

	.requirement-row-title {
		font-weight: 700;
	}
}

.requirement-row-title {
	font-size: 2em;
}

.requirement-row-excerpt {
	font-size: 1.5em;
	@include respond-to(handhelds) {
		text-align: center;
	}
}

.req-row-info {
	font-size: 1.3em;
}
// .add-tabitem-button {
//   padding-top: 3vh;
//   text-align: center;
//   width: 100% !important;
// }

.add-tabitem-btn {
  width: 100%;
  height: 1.8em;
  font-size: 2em !important;
}

.tab-heading {
  margin: 0 1vw 0 0;
  text-align: center;
}

.opportunity-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
}

.opportunity-info-row {
  display: flex;
  border-radius: 1rem;

  @include respond-to(handhelds) {
    flex-direction: column;
  }
}

.follower-count {
  display: flex;
  align-items: center;
  font-size: 1.0em;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 8vh;
  margin-right: 25px;

  @include respond-to(handhelds){
    height: 6vh;
    margin-right: 0;
  };
}

.follower-count-span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 .4vw;
  padding: 1vh;
  background-color: $darkgrey;
  min-height: 4vh;
  min-width: 4vh;
  border-radius: 1rem;
  color: #fff;

  @include respond-to(handhelds){
    margin-left: auto;
  };
}

.post-container {
  padding: 2vh;
  border-radius: 2px;
  border-bottom: 1px solid #fff;
  background: $lightgrey;
  transition: all .2s linear;
  cursor: pointer;
  color: black;
  &:hover {
    background: $midgrey;
  }

  &:last-of-type {
    border-bottom: none;
  }
}


.post-author {
  color: $limegreen;
  margin: 0;
  font-weight: 1000;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;

  & span {
    color: white;
    font-weight: 300;
  }

  @include respond-to(handhelds){
    font-size: .9rem;
  };
}

.post-title {
  color: black;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.8rem;

  @include respond-to(handhelds){
    font-size: 1.4rem;
  };
}

.post-link {
  &:hover {
    text-decoration: none;
  }
}

.post-excerpt {
  color: black;
  letter-spacing: 2px;
  margin: 0;
  font-style: italic;
}






// OPPORTUNITIES FORM


#opportunity_volunteers_required {
  width: 20vw;
}

.abstract-options-container {
	display: none;
}

.basic-info-container {
  padding-bottom: 2vh;
}

.opportunity-form-category-label {
  margin-left: -2vw;
}

.difficulty-container {
  padding-bottom: 1vh;
}

.location-container {
  padding-bottom: 2vh;
}

.title-subheader {
  padding-top: 5vh;
}

.title-selection {
  padding-left: 2vw;
}

.difficulty-subheader {
  padding-top: 3vh;
}

.difficulty-selection {
  padding-left: 2vw;
}

.recurring-selection {
  padding-left: 2vw;
}

.recurring-subheader {
  padding-top: 3vh;
}


.location-subheader {
  padding-top: 3vh;
}

.location-selection {
  padding-left: 2vw;
}


.completion-date-subheader {
  padding-top: 3vh;
}

.completion-date-selection {
  padding-left: 2vw;
}


.submit-opportunity {
  padding-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 15vh;
  margin-bottom: 3vh;
}

.submit-opportunity-btn {
  height: 100%;
}

.btn-block {
  font-size: 3em;
}
