// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';
@import 'mixins.scss';


// CALENDAR PAGE

.wrapper {
  background: image-url('calendar-background.jpg') no-repeat center center fixed;
  height: 90%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include respond-to(handhelds) {

  }
}


.calendar-background {
  display: grid;
  grid-template-rows: 85% 15%;
}

.calendar-row-1 {
  grid-row: 1;
}

.calendar-row-2 {
  grid-row: 2;
}

.location-select-div {
  text-align:center;
  padding-top: 15vh;
  padding-left: 30vh;
  padding-right: 30vh;

  @include respond-to(handhelds) {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .form-inline {
    display: inline-block;
    width: 50vw;

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      margin: auto;
      font-size: 4.5rem;
      color: rgba(0,0,0,.35);

      @include respond-to(handhelds) {
        font-size: 2rem;
      }
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 4.5rem;
      color: rgba(0,0,0,.35);
      margin: auto;

      @include respond-to(handhelds) {
        font-size: 2rem;
      }
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(0,0,0,.35);
      font-size: 4.5rem;
      margin: auto;

      @include respond-to(handhelds) {
        font-size: 2rem;
      }
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(0,0,0,.35);
      font-size: 4.5rem;
      margin: auto;

      @include respond-to(handhelds) {
        font-size: 2rem;
      }
    }
    ::placeholder {
      color: rgba(0,0,0,.35);
      font-size: 4.5rem;
      margin: auto;

      @include respond-to(handhelds) {
        font-size: 2rem;
      }
    }
  }

  .location-select-outline {
    background:rgba(255,255,255, 0.75);
    padding-bottom: 3vh;
    border-radius: 10px;
    border: 2px solid black;

    @include respond-to(handhelds) {
      margin-top: 10vh;
      border-radius: 5px;
    }
  }

  .form-inline {
    @include respond-to(handhelds) {
      width: 100%;
    }
  }


  .location-select-title {
    font-size: 5rem;
    font-weight: 600;
    font-family: 'TwinMarker';

    width: auto;


    @include respond-to(handhelds) {
      font-size: 2rem;
    }
  }

  .location-select-field {
    text-align: center;
    height: 10vh;
    width: 40vw !important;
    font-size: 7rem;

    @include respond-to(handhelds) {
      width: 80vw !important;
      font-size: 3.5rem;
      margin: auto;
    }
  }

  .location-select-btn {
    margin-top: 2vh;
    font-size: 4rem;
    background-color: $darkgreen;
    border-radius: 4px;
    color: white;
    font-family: 'TwinMarker';

    @include respond-to(handhelds) {
      font-size: 2rem;
    }
  }
}

#calendar {

  min-height: 50vw;
  max-height: 600px !important;

  @include respond-to(handhelds) {
    min-height: 70vw;
  }

}

.calendar-map-link-reminder {
  text-align: center;
  font-size: 1.5vh;
  background: black;
  color: white;
}


.wrapper {
  overflow-y: scroll;
}

.simple-calendar {

  .mobile-day-header {
    display: none;
  }

  @include respond-to(handhelds) {
    overflow-y: auto;
    height: 80vh;

    .mobile-day-header {
      display: inline;
      font-size: 1.2rem;
    }

    .calendar-page-title {
      font-size: .8rem;
    }

    .calendar-title {
      display:none;
    }

    table {
      width:100%;
      border: 1px solid $darkgreen;
    }

    thead {
      display: none;
    }

    tbody td {
       display: block;
       text-align:center;
       width: 100%;
    }
  }

  .table {
    height: 80vh;
    max-height: 400px;
    margin-bottom: 0 !important;

    @include respond-to(handhelds) {
      height: 60vh !important;
    }
  }

  .today-marker {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;

    @include respond-to(handhelds) {
      font-size: 1rem;
    }
  }

  .calendar-page-title {
    color: $darkgreen;
    font-weight: 700;
    font-family: 'TwinMarker';
    font-size: 8rem;
    width: 100%;
    text-align: center;
    padding-top: 5vh;

    @include respond-to(handhelds) {
      font-size: 2rem;
    }
  }

  width: 80vw;
  height: 50vh;
  margin: auto;

  .calendar-title {
    text-align: center;
  }

  .is-current-day-true {
    background-color: rgba(255, 255, 153, .75) !important;
  }

  .day {
    background-color: rgba(255,255,255,.75);
    border: 1px solid $darkgreen;

    overflow-y: auto;

    @include respond-to(handhelds) {
      height: 20vh !important;
    }

    .calendar-opportunity {
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
      background-color: $darkgreen-hvy;
      color: white;
      padding: 5px;
      border: 1px solid black;
      border-radius: 3px;

      .calendar-opportunity-title {
        font-size: 1.8rem;

        @include respond-to(handhelds) {
          font-size: 1.1rem;
        }
      }

      @include respond-to(handhelds) {
        font-size: .8rem;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .calendar-header {
    font-size: 2rem;
    background-color: $darkgreen-hvy;
    color: white;
    border: 1px solid black;
    text-align: center;

}

  .calendar-heading {
    text-transform: none !important;
    font-size: 3.2rem;
    color: black;
    background-color: rgba(255,255,255,.5);
    display: flex;
    justify-content: space-between;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: $darkgreen;
  }

  .calendar-nav-btn {
    font-size: 4rem;
    font-family: 'TwinMarker';
    color: black;
    font-weight: 700;
    padding-left: 2vw;
    padding-right: 2vw;

    @include respond-to(handhelds) {
      font-size: 2rem;
    }
  }

  .calendar-footer {
    text-align: center;
    background-color: $darkgreen;
    color: white;
    font-size: 2rem;

    @include respond-to(handhelds) {
      display: inline-block;
      font-size: 1rem;
    }
  }

  .calendar-page-bottom-buffer {
    height: 5vh;
  }
}


.calendar-aboutus {
  height: auto;
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 33% 33% 33%;

  border-radius: 5px 5px 0 0;
  border: 2px solid black;
  border-bottom: 0;
  background-color: rgba(255,255,255,.85);

  @include respond-to(handhelds) {
    grid-template-columns: 100%;
    height: auto;
  }

  .help-out-links {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'TwinMarker';
    margin-left: -3vw;
    margin-right: -3vw;

    a {
      color: $darkgreen;
    }

    @include respond-to(handhelds) {
      font-size: 1.2rem;
    }
  }

  .aboutus-div-title {
    font-size: 3.5rem;
    font-family: 'TwinMarker';


    @include respond-to(handhelds) {
      font-size: 2.1rem;
    }
  }

  .aboutus-content {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.6rem;
    height: auto;
    margin-bottom: 5vh;

    @include respond-to(handhelds) {
      font-size: .8rem;
      margin-bottom: 0;
    }
  }

  .aboutus-left {
    grid-column: 1;
    text-align: center;
    border-right: 1px solid black;

    @include respond-to(handhelds) {
      display: none;
    }
  }

  .aboutus-center {
    grid-column: 2;
    text-align: center;
    border-right: 1px solid black;

    @include respond-to(handhelds) {
      display: none;
    }
  }

  .aboutus-right {
    grid-column: 3;
    text-align: center;

    @include respond-to(handhelds) {
      display: none;
    }
  }

  .aboutus-mobile {
    display: none;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;

    @include respond-to(handhelds) {
      display: block;
      grid-column: 1;
    }

    .aboutus-content {
      font-size: .9rem;
    }
  }


}



//
//
//
// LANDING PAGE STYLE


.landing-title {
  font-size: 3.5em;
  text-align: center;
  @include respond-to(handhelds) {
    font-size: 1.9em;
  }
  color: $darkgrey;

  margin-top: 3vh;
}

// .landing-title-2 {
//   font-size: 4em;
//   font-weight: 700;
//   text-align: center;
//   color: $darkgrey;
//   @include respond-to(handhelds) {
//     font-size: 2.4em;
//     margin-left: 10vw;
//     margin-right: 10vw;
//   }
//   border-bottom: 2px solid $lightgrey;
//   margin-left: 20vw;
//   margin-right: 20vw;
// }

.landing-logo {
  max-width: 60vw;
  @include respond-to(handhelds) {
    max-width: 80vw;
  }
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.landing-explanation {
  border-top: 2px solid $lightgrey;
  margin-top: 3vh;
  text-align: center;
  @include respond-to(handhelds) {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  margin-left: 20vw;
  margin-right: 20vw;
}

.landing-explanation-basic {
  font-size: 1.2em;
  margin-top: 2vh;
  // @include respond-to(handhelds) {
  //   font-size: 0.6em;
  // }
}

.landing-explanation-detail {
  @include respond-to(handhelds) {
    font-size: 0.7em;
  }

  font-size: 0.8em;
  margin-top: 1vh;
}

.landing-explanation-padding {
  margin-top: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: 5vh;
  border-bottom: 2px solid $lightgrey;
}

.landing-padding-middle {
  margin-top: 5vh;
  margin-left: 40vh;
  margin-right: 40vh;
  margin-bottom: 5vh;
  border-bottom: 2px solid $lightgrey;

  @include respond-to(handhelds) {
    margin-left: 20vh;
    margin-right: 20vh;
  }
}


.beta-disclaimer {
  padding-left: 2vw;
  margin-top: 6vh;
  margin-bottom: 2vh;
  @include respond-to(handhelds) {
    padding: 2vh 6vw;
  }
}

.landing-list {
  margin-top: 2vh;
}

.start-volunteering-container {
  margin-bottom: 5vh;
}

.start-volunteering-btn {
  width: 100%;
  height: 100%;

  .jbh-btn-text {
    text-transform: none !important;
  }
}


//
//
//
//
//
//
//
//
//
// ====HOME PAGE STYLES=====

.home-page {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 90vh;
  background-color: white;

  @include respond-to(handhelds) {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
}

.home-page-aside {
  grid-column: 1;
  height: 100%;
  overflow-y: scroll;
  //color: #fff;

  & h3 {
    margin: 0;
  }

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
    border-top: 1px solid $darkgreen;
  }
}

.homepage-header {
  margin-top: 1vh;
  border-bottom: 1px solid $lightgrey;
  // height: 4vh;
  padding-bottom: 1vh;
  margin-bottom: 2px;
  font-weight: 700;
}

.floater {
  position: absolute;
  z-index: 999;
  background: white;
  padding: 10px;
  margin: 10px;
  opacity: .9;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0;

  @include respond-to(handhelds) {
    padding: 5px;
    margin: 5px;
  }

  & h3 {
    color: #666;
    margin: 0;
    @include respond-to(handhelds) {
      font-size: 1.1em;
    }
  }
}

.filter.floater {
  left: 47%;
  margin-top: 3vh;
  cursor: pointer;

  @include respond-to(handhelds) {
    left: 0;
    margin-top: 1vh;
  }
}

.filter.show-filter {
  min-height: 20vh;

  & h3 {
    margin-bottom: 1vh;
  }
  @include respond-to(handhelds) {
    width: 95%;
  }
}

.filter-container {
  opacity: 0;
  display: none;
  transition: all .3s linear;
}
.filter-container.show {
  opacity: 1;
  display: block;
}

.current-zip.floater {
  right: 0;
  margin-top: 3vh;

  @include respond-to(handhelds) {
    margin-top: 1vh;
  }
}

.zip-floater {
  @include respond-to(handhelds) {
    display: none;
  }
}

.tab {
  border-top: 0px !important;
  margin-top: -1vh !important;
}

.opportunity-row {
  margin: 14px;
  border: 1px solid $lightgrey;
  border-radius: 10px;
  //border-bottom: 2px solid $lightgrey;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;

  transition: all .1s linear;

//  & a {
//    color: #fff;
//  }

  & div {
    transform: scale(.95);
    transition: all .2s linear;
  }

  &:hover {

    & a {
      text-decoration: none;
    }

    & div {
      transform: scale(.98);
    }
  }
}

.new-opportunity {
  right: 2vw;
  bottom: 2vh;
  height: 8vh;
  width: 15vw;
}

.btn-new-opportunity {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  width: 15vw;
  height: 9vh;
  background-color: $limegreen !important;
  color: black !important;

  text-align: center;
  font-size: 1.4em !important;
  text-transform: uppercase;

  border: 2px solid $midgrey !important;
  border-radius: 5px !important;
}

.map-div {
  padding: 1em;
}

.no-open-opportunities, .no-active-opportunities {
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  font-size: 1.8em;


  .new-cleanup-link-text {
    padding-top: 15vh;
    color: $darkgreen;
    font-family: 'TwinMarker';
    font-size: 2.2rem;
  }
}

.opportunity-title {
  padding-top: 1vh;
  font-size: 1.8em;
  color: black;
}

.opportunity-row-definition {
  padding-top: 1vh;

  //float:right;
  text-align: center;
}

.opportunity-row-data {
  font-size: 1.4em;
  width: auto;
  color: black;
}

.volunteers-needed {
  font-size: 0.15em;
  text-align: right;
}

.opportunity-meta-volunteers {
  text-align: right;
  float: right;
  font-size: 4em;
  padding-right: 1vw;
  padding-left: 3vw;

  @include respond-to(handhelds) {
    font-size: 3.3em;
  }
}

.opportunity-meta {
  width: 80%;
  margin-bottom: 1vh;
}

.opportunity-row-data-header {
  font-size: 0.9em;
  color: $midgrey;
  padding-left: 1vw;
}

.opportunity-row-data-content {
  text-transform: none !important;
  font-size: 1.9rem !important;

  @include respond-to(handhelds) {
    font-size: 1.6rem !important;
  }
}

.opportunity-volunteers-needed {
  color: $limegreen;
}

.opportunity-row-overdue {
  color: red;
  font-weight: 700;
}

.opportunity-volunteers-not-needed {
  color: $darkgrey;
}

.opportunity-defined-wrapper {
  color: $limegreen;
  font-size: 2.3em;
  font-weight: 700;
}

.opportunity-abstract-wrapper {
  color: $lightpink;
  font-size: 2.3em;
  font-weight: 700;
}



//
//
//
//
//
//
//
// ========DONATE PAGE STYLING========


.donation-info-container {
  background-color: white;
  height: 100%;
  overflow-y: auto;
}

.donation-explanation {
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 1.3rem;
  text-align: center;

  @include respond-to(handhelds) {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1rem;
  }
}

.donation-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donation-frame {
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

// #regForm {
//   width: 100% !important;
//   margin: 0px !important;
//   padding: 0px !important;
//   margin-left: auto !important;
//   margin-right: auto !important;
//   margin-top: 10vh !important;
//   min-width: 400px !important;
// }

.donation-email-input {
  font-size: 2em;
  text-align: center;
}

#donation_email {
  border: 2px solid $lightgrey;
  margin: 5px;
  padding: 5px;
}

.donation-signup-error {
  padding-top: 5vh;
  text-align: center;
  color: red;
  margin-bottom: -3vh;
  font-size: 2em;
}

.donation-widget {
  overflow-y: scroll;
  height: 70vh;
  width: 100vw;
  // order: 0;
  // height: auto;
}

.form-inputs {
  border-top: 2px solid $lightgrey !important;
  margin-left: 10vw !important;
  margin-right: 10vw !important;
}

.btn-mktg-helper {
  background-color: $limegreen !important;
  color: black !important;
  border: 1px solid $midgrey !important;
  margin-bottom: 2vh;
  margin-top: 4vh;
  text-align: center;
  padding-right: 20vw !important;
  padding-left: 20vw !important;
  font-size: 1em !important;
}

.signup-disclaimer {
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.donation-email-label {
  padding-bottom: 2vh;
}

.donation-email-input {
  padding-top: 2vh;
}

.donation-booleans {
  padding-top: 6vh;
}



//
//
//
//
//
// ABOUT US STYLING
.aboutus-title {
  padding-left: 1vw;
  padding-top: 2vw;
}

.aboutus-community-guidelines {
  margin-top: 3vh;
  margin-left: 5vh;
  margin-right: 5vh;
  border: 6px solid $limegreen;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vh;
  margin: 3vh auto !important;
}

.guidelines-title {
  padding-top: 1vh;
  text-align: center;

  font-weight: 700;
  order: 0;
  border-bottom: 1px solid $lightgrey;
}

.guidelines {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.guideline {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  font-size: 1.3em;
}

.aboutus {
  @media (max-width: 800px) {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
  padding-top: 5vh;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
}

.aboutus-item {
  margin-bottom: 5vh;
}

.aboutus-bottom-padding {
  height: 3vw;
}

.side-note {
  margin-left: 5vw;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
