// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';
@import 'mixins.scss';

// LANDING PAGE STYLE
.landing-lead {
  font-size: 4em;

  @include respond-to(handhelds) {
    font-size: 2.2em;
  }
}

.landing-how-block {
  margin-top: 2vh;
}

.landing-page.jumbotron {
  margin-bottom: 0;
}

.beta-disclaimer {
  padding-left: 2vw;
  margin-top: 6vh;

  @include respond-to(handhelds) {
    padding: 2vh 6vw;
  }
}

.landing-list {
  margin-top: 2vh;
}

// ====HOME PAGE STYLES=====

.home-page {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 90vh;

  @include respond-to(handhelds) {
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
  }
}

.home-page-aside {
  grid-column: 1;
  height: 100%;
  overflow-y: scroll;
  background-color: $secondary;
  color: #fff;

  & h3 {
    margin: 0;
  }

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
  }
}

.homepage-header {
  border-bottom: 1px solid;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.floater {
  position: absolute;
  z-index: 999;
  background: white;
  height: 8vh;
  padding: 10px;
  margin: 10px;
  opacity: .9;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0;

  & h3 {
    color: #666;
    margin: 0;
  }
}

.filter.floater {
  left: 30%;

  @include respond-to(handhelds) {
    left: 0;
  }
}

.current-zip.floater {
  right: 0;
}

.zip-floater {
  @include respond-to(handhelds) {
    display: none;
  }
}

.problem-row {
  border-bottom: 1px solid;
  margin-bottom: 2px;
  padding: 1vh 1vw;
  background-color: $secondary;
  transition: all .2s linear;

  & a {
    color: #fff;
  }

  & div {
    transform: scale(.95);
    transition: all .2s linear;
  }

  &:hover {
    background-color: $secondary-hover;

    & a {
      color: #fff;
      text-decoration: none;
    }

    & div {
      transform: scale(.98);
    }
  }
}

// ========DONATE PAGE STYLING========

.donation-booleans {
  text-align: center;
  font-size: 1.5em;
}

.donation-email-input {
  font-size: 2em;
  text-align: center;
}


.donation-signup-error {
  text-align: center;
}

.donation-info-title {
  padding-left: 1vw;
  padding-top: 3vh;
}

.donation-info-container {
  padding-right: 20vw;
}

.donation-email-label {
  padding-bottom: 2vh;
}

.form-actions {
  padding-top: 4vh;
  padding-right: 20%;
  padding-left: 20%;
}

.donation-email-input {
  padding-top: 2vh;
}

.donation-booleans {
  padding-top: 6vh;
}
.aboutus-title {
  padding-left: 1vw;
  padding-top: 2vw;
}

.aboutus-list {
  padding-right: 1vw;
  padding-top: 3vw;
}

.aboutus-bottom-padding {
  height: 3vw;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
