// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';
@import 'mixins.scss';

//
//
//
//
//
//
//
//
// ========LANDING PAGE STYLE===========


.landing-page-container {
  .landing-title {
    font-size: 3.5em;
    text-align: center;
    @include respond-to(handhelds) {
      font-size: 1.9em;
    }
    color: $darkgrey;

    margin-top: 3vh;
  }

  .landing-logo {
    max-width: 60vw;
    @include respond-to(handhelds) {
      max-width: 80vw;
    }
    padding-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .landing-explanation {
    border-top: 2px solid $lightgrey;
    margin-top: 3vh;
    text-align: center;
    padding-top: 3vh;
    font-size: 2vh;
    @include respond-to(handhelds) {
      margin-left: 10vw;
      margin-right: 10vw;
    }

    margin-left: 20vw;
    margin-right: 20vw;
  }

  .landing-explanation-basic {
    font-size: 1.2em;
    margin-top: 2vh;
    // @include respond-to(handhelds) {
    //   font-size: 0.6em;
    // }
  }

  .landing-explanation-detail {
    @include respond-to(handhelds) {
      font-size: 0.7em;
    }

    font-size: 0.8em;
    margin-top: 1vh;
  }

  .landing-explanation-padding {
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 5vh;
    border-bottom: 2px solid $lightgrey;
  }

  .landing-padding-middle {
    margin-top: 5vh;
    margin-left: 40vh;
    margin-right: 40vh;
    margin-bottom: 5vh;
    border-bottom: 2px solid $lightgrey;

    @include respond-to(handhelds) {
      margin-left: 20vh;
      margin-right: 20vh;
    }
  }

  .landing-page-actions {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

    text-align: center;
    margin-top: 2vh;

    a {
      color: white !important;
    }

    .landing-page-action-btn {
      text-align: center;
      margin: 3vh auto 0vh auto;
      padding: 1vh 0vw 1vh 0vw;
      font-size: 3vh;
      font-weight: 600;
      border-radius: 5px;
      border: 1px solid $darkgrey;
      width: 60vw;

      @include respond-to(handhelds) {
        font-size: 2.2vh;
        width: 80vw;
      }
    }

    .create-new-oppo-div {
      grid-row: 2;
      background-color: $limegreen;
      width: 40vw !important;
      @include respond-to(handhelds) {
        width: 60vw !important;
      }
    }

    .select-oppo-type-div {
      grid-row: 1;
      background-color: $limegreen;

      @include respond-to(handhelds) {

      }
    }

  }
}


//
//
//
//
//
//
//
//
//
// ====SELECT PAGE STYLES=====

.select-categories-page {
  margin: 1vh 1vw 1vh 1vw;
  padding: 1vh 1vw 1vh 1vw;

  text-align: center;


  .select-categories-btns {

    .category-btn-group {

      padding: 2vh;
      margin: 2vh auto 2vh auto;

      width: 40vw;

      border: 1px solid black;

      @include respond-to(handhelds) {
        padding: 2vh 2vw 2vh 2vw;
        margin: 2vh 2vw 2vh 2vw;
        width: auto;
      }

      .category-btn-name {
        color: black;
        font-size: 4vh;
        font-weight: 600;
        text-transform: none;

        @include respond-to(handhelds) {
          font-size: 3vh;
        }
      }

      .category-btn-text {
        text-transform: none;
      }
    }

  }

}














//
//
//
//
//
//
//
//
//
// ====HOME PAGE STYLES=====

.home-page {
  display: grid;
  grid-template-columns: 45% 55%;
  height: 90vh;

  @include respond-to(handhelds) {
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
}

.home-page-aside {
  grid-column: 1;
  height: 100%;
  overflow-y: scroll;
  //color: #fff;

  & h3 {
    margin: 0;
  }

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
  }
}

.homepage-header {
  margin-top: 1vh;
  border-bottom: 1px solid $lightgrey;
  // height: 4vh;
  padding-bottom: 1vh;
  margin-bottom: 2px;
  font-weight: 700;
}

.floater {
  position: absolute;
  z-index: 999;
  background: white;
  padding: 10px;
  margin: 10px;
  opacity: .9;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0;

  @include respond-to(handhelds) {
    padding: 5px;
    margin: 5px;
  }

  & h3 {
    color: #666;
    margin: 0;
    @include respond-to(handhelds) {
      font-size: 1.1em;
    }
  }
}

.filter.floater {
  left: 47%;
  margin-top: 3vh;
  cursor: pointer;

  @include respond-to(handhelds) {
    left: 0;
    margin-top: 1vh;
  }
}

.filter.show-filter {
  min-height: 20vh;

  & h3 {
    margin-bottom: 1vh;
  }
  @include respond-to(handhelds) {
    width: 95%;
  }
}

.filter-container {
  opacity: 0;
  display: none;
  transition: all .3s linear;
}
.filter-container.show {
  opacity: 1;
  display: block;
}

.current-zip.floater {
  right: 0;
  margin-top: 3vh;

  @include respond-to(handhelds) {
    margin-top: 1vh;
  }
}

.zip-floater {
  @include respond-to(handhelds) {
    display: none;
  }
}

.tab {
  border-top: 0px !important;
  margin-top: -1vh !important;
}

.opportunity-row {
  margin: 14px;
  border: 1px solid $lightgrey;
  border-radius: 10px;
  //border-bottom: 2px solid $lightgrey;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;

  transition: all .1s linear;

//  & a {
//    color: #fff;
//  }

  & div {
    transform: scale(.95);
    transition: all .2s linear;
  }

  &:hover {

    & a {
      text-decoration: none;
    }

    & div {
      transform: scale(.98);
    }
  }
}

.new-opportunity {
  right: 2vw;
  bottom: 2vh;
  height: 8vh;
  width: 15vw;
}

.btn-new-opportunity {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  width: 15vw;
  height: 9vh;
  background-color: $limegreen !important;
  color: black !important;

  text-align: center;
  font-size: 1.4em !important;
  text-transform: uppercase;

  border: 2px solid $midgrey !important;
  border-radius: 5px !important;
}

.map-div {
  padding: 1em;
}

.no-open-opportunities, .no-active-opportunities {
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  font-size: 1.8em;
}

.opportunity-title {
  padding-top: 1vh;
  font-size: 1.8em;
  color: black;
}

.opportunity-row-definition {
  padding-top: 1vh;

  //float:right;
  text-align: center;
}

.opportunity-row-data {
  font-size: 1.4em;
  width: auto;
  color: black;
}

.volunteers-needed {
  font-size: 0.15em;
  text-align: right;
}

.opportunity-meta-volunteers {
  text-align: right;
  float: right;
  font-size: 4em;
  padding-right: 1vw;
  padding-left: 3vw;

  @include respond-to(handhelds) {
    font-size: 3.3em;
  }
}

.opportunity-meta {
  width: 80%;
  margin-bottom: 1vh;
}

.opportunity-row-data-header {
  font-size: 0.9em;
  color: $midgrey;
  padding-left: 1vw;
}

.opportunity-row-data-content {
  text-transform: none !important;
  font-size: 1.9rem !important;

  @include respond-to(handhelds) {
    font-size: 1.6rem !important;
  }
}

.opportunity-volunteers-needed {
  color: $limegreen;
}

.opportunity-row-overdue {
  color: red;
  font-weight: 700;
}

.opportunity-volunteers-not-needed {
  color: $darkgrey;
}

.opportunity-defined-wrapper {
  color: $limegreen;
  font-size: 2.3em;
  font-weight: 700;
}

.opportunity-abstract-wrapper {
  color: $lightpink;
  font-size: 2.3em;
  font-weight: 700;
}



//
//
//
//
//
//
//
// ========DONATE PAGE STYLING========


.donation-explanation {
  margin-left: 15vw;
  margin-right: 15vw;
  font-size: 1.3rem;
  text-align: center;

  @include respond-to(handhelds) {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1rem;
  }
}

.donation-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donation-frame {
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

// #regForm {
//   width: 100% !important;
//   margin: 0px !important;
//   padding: 0px !important;
//   margin-left: auto !important;
//   margin-right: auto !important;
//   margin-top: 10vh !important;
//   min-width: 400px !important;
// }

.donation-email-input {
  font-size: 2em;
  text-align: center;
}

#donation_email {
  border: 2px solid $lightgrey;
  margin: 5px;
  padding: 5px;
}

.donation-signup-error {
  padding-top: 5vh;
  text-align: center;
  color: red;
  margin-bottom: -3vh;
  font-size: 2em;
}

.donation-widget {
  overflow-y: scroll;
  height: 70vh;
  width: 100vw;
  // order: 0;
  // height: auto;
}

.form-inputs {
  border-top: 2px solid $lightgrey !important;
  margin-left: 10vw !important;
  margin-right: 10vw !important;
}

.btn-mktg-helper {
  background-color: $limegreen !important;
  color: black !important;
  border: 1px solid $midgrey !important;
  margin-bottom: 2vh;
  margin-top: 4vh;
  text-align: center;
  padding-right: 20vw !important;
  padding-left: 20vw !important;
  font-size: 1em !important;
}

.signup-disclaimer {
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
}

.donation-email-label {
  padding-bottom: 2vh;
}

.donation-email-input {
  padding-top: 2vh;
}

.donation-booleans {
  padding-top: 6vh;
}



//
//
//
//
//
// ABOUT US STYLING
.aboutus-title {
  padding-left: 1vw;
  padding-top: 2vw;
}

.aboutus-community-guidelines {
  margin-top: 3vh;
  margin-left: 5vh;
  margin-right: 5vh;
  border: 6px solid $limegreen;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70vh;
  margin: 3vh auto !important;
}

.guidelines-title {
  padding-top: 1vh;
  text-align: center;

  font-weight: 700;
  order: 0;
  border-bottom: 1px solid $lightgrey;
}

.guidelines {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.guideline {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
  font-size: 1.3em;
}

.aboutus {
  @media (max-width: 800px) {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
  padding-top: 5vh;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
}

.aboutus-item {
  margin-bottom: 5vh;
}

.aboutus-bottom-padding {
  height: 3vw;
}

.side-note {
  margin-left: 5vw;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
