// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';

.problem-title {
  text-transform: none;
  font-weight: 700;
}

.my-problems {
  display: flex;
  flex-wrap: wrap;
}

.problem {
  margin: 0 2vw 0 0;
  max-width: 28vw;
}

.problem-link {
  color: #fff;

  &:hover {
    color: #ddd;
  }
}

.problem-header {
  display: flex;
  align-items: center;
  min-height: 20vh;
  padding: 1vh 1vw;
  margin-bottom: 2vh;
}

.problem-info-summary {
  padding: 0 5vw 0 0;
}

.problem-tab-links {
  grid-column: 2;
  height: 100%;
  overflow-y: scroll;
  background-color: $secondary;
  color: #fff;

  & h3 {
    margin: 0;
  }

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
  }
}

.add-requirement-button {
  padding-top: 3vh;
  text-align: center;
}

.add-post-button {
  text-align: center;
  padding-top: 1vh;
}

.tab-heading {
  padding-left: 2vw;
  padding-bottom: 1vh;
}

.problem-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.problem-info-row {
  display: flex;
  border-radius: 1rem;
}

.follower-count {
  display: flex;
  align-items: center;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 6vh;
  width: 21vw
}

.follower-count-span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 .4vw;
  padding: 1vh;
  background-color: #9b9b9b;
  min-height: 4vh;
  min-width: 4vh;
  border-radius: 1rem;
  color: #fff;

  &.success {
    background-color: $success;
  }

  &.black {
    background-color: #000;
  }

  &.info {
    background-color: $info;
  }
}



.post-container {
  padding: 1vh 1vw;
  border-radius: 2px;
  border-bottom: 1px solid #fff;
  background: #053366;
  transition: all .2s linear;
  cursor: pointer;
  color: white;
  &:hover {
    background: #1E2326;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &:nth-of-type(even) {
    background: #4099cc;

    &:hover {
      background: #1E2326;
    }
  }
}

.tab-heading {
  margin: 0 1vw 0 0;
}

.post-author {
  color: #99cc66;
  margin: 0;
  font-weight: 1000;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;

  & span {
    color: white;
    font-weight: 300;
  }
}

.post-title {
  color: white;
  letter-spacing: 2px;
  margin: 0;
  font-size: 1.8rem;
}

.post-link {
  &:hover {
    text-decoration: none;
  }
}

.post-excerpt {
  color: white;
  letter-spacing: 2px;
  margin: 0;
  font-style: italic;
}






// PROBLEMS FORM


.basic-info-container {
  padding-bottom: 2vh;
}

.difficulty-container {
  padding-bottom: 1vh;
}

.location-container {
  padding-bottom: 2vh;
}

.title-subheader {
  padding-top: 5vh;
}

.title-selection {
  padding-left: 2vw;
}

.difficulty-subheader {
  padding-top: 3vh;
}

.difficulty-selection {
  padding-left: 2vw;
}

.recurring-selection {
  padding-left: 2vw;
}

.recurring-subheader {
  padding-top: 3vh;
}


.location-subheader {
  padding-top: 3vh;
}

.location-selection {
  padding-left: 2vw;
}


.completion-date-subheader {
  padding-top: 3vh;
}

.completion-date-selection {
  padding-left: 2vw;
}


.submit-problem {
  padding-top: 8vh;
  text-align: center;
  width: 80%;
}

.btn-block {
  font-size: 3em;
}