// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'theme.scss';

.problem-title {
  padding: 1vh 5vw 1vh 2vw;
  text-transform: none;
  font-weight: 700;
}

.my-problems {
  display: flex;
  flex-wrap: wrap;
}

.problem {
  margin: 0 2vw 0 0;
  max-width: 28vw;
}

.problem-link {
  color: #fff;

  &:hover {
    color: #ddd;
  }
}

.problem-header {
  display: flex;
  align-items: center;
}

.problem-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.problem-info-row {
  display: flex;
}

.follower-count {
  display: flex;
  align-items: center;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 6vh;
  width: 21vw
}

.follower-count-span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 .4vw;
  padding: 1vh;
  background-color: #9b9b9b;
  min-height: 4vh;
  min-width: 4vh;
  border-radius: 50%;
  color: #fff;

  &.success {
    background-color: $success;
  }

  &.black {
    background-color: #000;
  }

  &.info {
    background-color: $info;
  }
}

.post-container {
  padding: 1vh 1vw;
  border-radius: 2px;
  border-bottom: 1px solid #fff;
  background: #ccc;
  transition: all .2s linear;
  cursor: pointer;

  &:hover {
    background: #e2e2e2;
  }

  &:last-of-type {
    border-bottom: none;
  }

  &:nth-of-type(even) {
    background: #ddd;

    &:hover {
      background: #f1f1f1;
    }
  }
}

.post-author {
  color: $primary;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.2px;

  & span {
    color: #000;
    font-weight: 300;
  }
}

.post-title {
  color: #000;
  letter-spacing: 2px;
  margin: 0;
  font-style: italic;

  &:hover {
    color: #4b4b4b;
  }
}

.post-link {
  &:hover {
    text-decoration: none;
  }
}

.post-excerpt {
  color: #000;
  letter-spacing: 2px;
  margin: 0;
}
