// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.register-link {
  min-width: 10vw;
}


.user-edit-form-inputs {
  padding-left: 10vw;
  padding-right: 10vw;
}


.edit-user-title {
  padding-left: 3vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
}




.requirement-row {
  border-bottom: 1px solid;
  margin-bottom: 2px;
  padding: 1vh 1vw;
  background-color: $secondary;
  transition: all .2s linear;

  & a {
    color: #fff;
  }

  & div {
    transform: scale(.95);
    transition: all .2s linear;
  }

  &:hover {
    background-color: $secondary-hover;

    & a {
      color: #fff;
      text-decoration: none;
    }

    & div {
      transform: scale(.98);
    }
  }
}