// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'theme.scss';
@import 'mixins.scss';

.register-link {
  min-width: 10vw;
}


.user-edit-form-inputs {
  padding-left: 10vw;
  padding-right: 10vw;
}

.form-inputs {
  border-top: 0px transparent !important;
}


.edit-user-title {
  padding-left: 3vw;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

.user-personal-info {
  margin-top: 2vh;
}

.edit-user-update-btn {
  background-color: $limegreen !important;
  height: 10vh;
  font-size: 2.5em !important;
}

.form-control-label {
  margin-left: -2vw;
}
