// Place all the styles related to the Milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'theme.scss';
@import 'mixins.scss';


.requirement-show-page {
	.jbh-standard-title {
		margin-right: 0vw;
		padding-right: 5vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.requirement-marker {
			font-weight: 600;
			color: $limegreen;
		}

		@include respond-to(medium) {
			.requirement-marker {
				display: none;
			}
		}
	}
}

.needs-leader {
  color: red !important;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3vh;
}

.requirement-overdue {
  color: red !important;
  font-weight: 700 !important;
}

.volunteer-btn-div {
  text-align: center;
  font-size: 3em;
  border: 6px solid $limegreen;
  border-radius: 10px;
  margin-bottom: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;

  color: $limegreen;
  background: $darkgrey;

  @include respond-to(medium) {
    font-size: 2.2em;
  }
}

.req-option-btn-div {
  text-align: center;
  font-size: 2em;
  border: 1px solid $darkgrey;
  border-radius: 10px;
  margin-bottom: 1vh;
  margin-left: 5vw;
  margin-right: 5vw;

  color: white;
  background: $midgrey;
  @include respond-to(medium) {
    font-size: 1.7em;
  }

  &:hover {

    & a {
      text-decoration: none;
    }

    & div {
      transform: scale(.98);
    }
  }
}



.requirement-info-row {
  font-size: 1.3em;
  font-weight: 700;
  color: $darkgrey;
  margin-left: 5vw;
  margin-right: 5vw;

  @include respond-to(medium){
    margin-right: 5vw;
    font-size: .9rem;
  }
}

.requirement-info-content {
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
  margin-left: 2vw;

  @include respond-to(medium) {
    font-size: 1.2rem;
  }
}

.requirement-meta {
  text-align: left;
}

.requirement-info-description {
  margin: 4vh 0;
  padding-left: 5vw;
  margin-right: 20vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-top: 1px solid $lightgrey;
  border-bottom: 1px solid $lightgrey;

  @include respond-to(medium) {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

.overdue-warning {
  text-align: center;
  color: red;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4vh;
}


.progress-title {
}

.progress {
  height: 10vh !important;
  border: 3px solid black;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 2vh;
}

.progress-bar {
  font-size: 1.3rem;
}


.work-remaining {
  font-size: 1.8rem;
  color: black;
  text-align: left;
  padding: 2vw;
}

.tabcontent {
  border: 0px !important;
}



.no-posts-container {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

.requirement-posts-title {
  text-align: center;
  border-top: 2px solid $lightgrey;
  padding-top: 2vh;
}

.link-group {
  margin-top: 20px;
}

.volunteers-list {
  margin-top: 2vh;
}

.volunteer-row {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  height: 2.4em;
  display: inline-flex;
  justify-content: space-between;
  border-bottom: 1px solid $lightgrey;
  font-size: 1.7em;

  @include respond-to(medium) {
  	font-size: 1em;
  }
}

.volunteer-leader-btn {
  text-transform: uppercase;
  font-weight: 600;
}

.promote-btn-div {
  color: $limegreen;
}

.demote-btn-div {
  color: red;
}
