// Place all the styles related to the Milestones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.requirement-title {
  margin-top: 2vh;

}

.requirement-info-category, .requirement-info-subcategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
}
.requirement-info-categories {
  float: right;
  text-align: right;
  border: 1px solid black;
  border-radius: 10px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requirement-meta {
  text-align: left;
}

.requirement-info-description {
  margin: 4vh 0;
}

.overdue-warning {
  text-align: center;
  color: red;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4vh;
}


.progress-title {
}

.progress {
  height: 10vh !important;
  border: 3px solid black;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-bottom: 2vh;
}

.progress-bar {
  font-size: 1.3rem;
}


.work-remaining {
  font-size: 1.8rem;
  color: black;
  text-align: left;
  padding: 2vw;
}


.volunteer-btn-div {
  text-align: center;
  font-size: 3rem;
  border: 6px solid $limegreen;
  border-radius: 10px;
  margin-bottom: 1vh;
  margin-left: 20vw;
  margin-right: 20vw;
  color: $limegreen;
  background: $darkblue;
}


.requirement-posts-title {
  text-align: center;
  border-top: 3px dotted $darkblue;
  padding-top: 2vh;
}

.link-group {
  margin-top: 20px;
}


.requirement-info-block {
  margin-left: 3vw;
}

.needs-leader {
  color: red !important;
}

.requirement-info-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 50vh;

  @include respond-to(handhelds) {
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
  }
}

.requirement-info-left {
  grid-column: 1;

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 1;
  }
}

.requirement-info-right {
  grid-column: 2;

  @include respond-to(handhelds) {
    grid-column: 1;
    grid-row: 2;
  }
}


.requirement-info-row {
  font-size: 2em;
  font-weight: 700;
  color: $darkgrey;
}

.requirement-info-content {
  font-size: 1em;
  font-weight: normal;
  color: black;
}