$primary: #3088CC;
$secondary: #003366;
$secondary-hover: #99ccff;
$info: #99cc66;;
$success: #6AD173;
$danger: #CE3333;
$warning: #F2B849;
$light: #DEE7ED;
$dark: #1E2326;

$limegreen: #99cc66;
$limegreen-low: rgba(153,204,102,.3);
$limegreen-mid: rgba(153,204,102,.6);

$darkgreen: #004d00;
$darkgreen-low: rgba(0,77,0,.3);
$darkgreen-mid: rgba(0,77,0,.6);
$darkgreen-hvy: rgba(0,77,0,.8);

$white: rgb(255,255,255);
$white-low: rgba(255,255,255,0.3);
$white-mid: rgba(255,255,255,0.6);
$white-hvy: rgba(255,255,255,0.85);

$lightpink: #E9B1E0;
$lightpink-low: rgba(233,177,224,.3);
$lightpink-mid: rgba(233,177,224,.6);

$lightgrey: #e0e0e0;
$midgrey: #959CA0;
$darkgrey: #666666;


$orange: #FFC609;
$yellow: #F5EA61;



$darkblue: #004985;
$midblue: #3CB4E5;
$lightblue: #96DAEA;
