$primary: #3088CC;
$secondary: #003366;
$secondary-hover: #99ccff;
$info: #70D8C8;
$success: #6AD173;
$danger: #CE3333;
$warning: #F2B849;
$light: #DEE7ED;
$dark: #1E2326;

$limegreen: #99cc66;
$darkblue: #006699;