<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="divider" style="margin-top: 3vh;height: 6vh;margin-left: 15vw;margin-right: 15vw;border-top: 1px solid #e0e0e0;"></div>
    <div class="follow-email-title">
      You have followed <%= @opportunity.title %>!
    </div>
    <div class="divider" style="margin-top: 3vh;height: 6vh;margin-left: 15vw;margin-right: 15vw;border-top: 1px solid #e0e0e0;"></div>
    <div class="follow-email-body">
      There is a calendar file attached to this email to help you remember when your Opportunity is coming up- don't forget to RSVP for the Opportunity if you haven't already!
    </div>
    <div class="divider" style="margin-top: 3vh;height: 6vh;margin-left: 15vw;margin-right: 15vw;border-top: 1px solid #e0e0e0;"></div>
    <div class="jbh-greeting">
      Thanks again for volunteering with Just Be Human! We're really excited to have you. If you want to be kept in the loop with updates to the platform, bug reports, and common questions, come by the Just Be Human subreddit <a href='https://reddit.com/r/justbehuman'>here!</a>
    </div>
  </body>
</html>
