<!-- Footer -->
<footer class="footer page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-8 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Just Be Human</h5>
        <p>Just Be Human is operated by Just Being Human, a 501(c)3 nonprofit that is entirely funded by donations. Check out these footer links for more information or to help keep a roof over my head! </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/costs">View Month-to-date Costs</a>
          </li>
          <li>
            <a href="/donate">Donation and Help Info</a>
          </li>
          <li>
            <a href="/aboutus">Learn more about us</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© <%= Date.today.strftime('%Y') %> Copyright: Just Being Human, LLC</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
