<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Just Be Human</h5>
        <p>Just Be Human is operated by Just Being Human, a 501(c)3 nonprofit that is entirely funded by donations. If you would like to make a donation and help keep the lights on in my apartment while I build this platform, you can do so in the links to the right. If you would like to read more about Just Being Human- where we came from, where we're going, and why we're doing this, you can also find that information here. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/costs">View Month-to-date Costs</a>
          </li>
          <li>
            <a href="/donate">Donate!</a>
          </li>
          <li>
            <a href="/help">I'd like to help!</a>
          </li>
          <li>
            <a href="/aboutus">Learn more about us</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright: Just Being Human, LLC
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
