<!-- Footer -->
<footer class="footer page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-8 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Just Be Human v1.1.5beta</h5>
        <p>Just Be Human is run by a 501(c)3 non-profit and is principally donation-funded. If you're interested in helping us grow, please check out these links!</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">More Info</h5>
        <ul class="list-unstyled">
          <li>
            <a class="footer-link" href="/donate">Donation and Help Info</a>
          </li>
          <li>
            <a class="footer-link" href="/aboutus">Learn more about us</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© <%= Date.today.strftime('%Y') %> - Just Being Human</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->