<nav class="navbar navbar-light navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <%= image_tag("beta-logo.png", class: "navbar-logo", id: "home-step1") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon2"><span class="navbar-toggler-icon"></span></div>
  </button>

  <div class="desktop-nav" >
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item" id="home-step2">
          <%= link_to 'New Opportunity', new_problem_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          Conversations button
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/edit">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/sign_out" data-method="delete">Sign Out</a>
            <!-- <a class="dropdown-item" href="/users/sign_out">Sign Out</a> -->
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign In/Register</a>
        </li>
      <% end %>
    </ul>


    <% if current_user && current_page?('/') %>
      <form class="form-inline my-2 my-lg-0" accept-charset="UTF-8" action="/" method="get" id="home-step3">
        <input class="form-control mr-sm-2" type="search" id="location_term" placeholder="Enter a postal code" aria-label="Change Location" name="location_term">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" href="/" value="location_term">Change Location</button>
      </form>
    <% end %>
  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mobile-nav">
        <ul class="navbar-nav mr-auto">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to 'New Opportunity', new_problem_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/edit">Edit Account</a>
            </li>
            <li class="nav-item">
              <div class="nav-link"><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">Sign In/Register</a>
            </li>
          <% end %>
        </ul>

        <% if current_user && current_page?('/') %>
          <form class="form-inline my-2 my-lg-0" accept-charset="UTF-8" action="/" method="get">
            <input class="form-control mr-sm-2" type="search" id="location_term" placeholder="Enter a postal code" aria-label="Change Location" name="location_term">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" href="/" value="location_term">Change Location</button>
          </form>
        <% end %>
      </div>
    </div>

</nav>
