<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Just Be Human</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/my_problems">My Problems</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/edit">Edit</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item"><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></div>
          <!-- <a class="dropdown-item" href="/users/sign_out">Sign Out</a> -->
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">Sign In/Sign Up</a>
      </li>
      <% end %>
<!--       <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>






    <!-- QUESTION FOR @arren - what I want to do here is for the submit action to reload "/" while also adding the contents of the form as a "set_location=" query param- what do I need to do to make that happen? Sorry if this is a dumb/basic question, I'm embarrassingly new to the front end side of things. I've been out of the loop too long, time to fix that haha -->
    <form class="form-inline my-2 my-lg-0" accept-charset="UTF-8" action="/" method="get">
      <input class="form-control mr-sm-2" type="search" id="location_term" placeholder="Enter a location" aria-label="Change Location">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/">Change Location</button>
    </form>
  </div>
</nav>